# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage




.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
vendor/
public/

https://github.com/max98703/express/pull/24

backend/uploads/